# Explore the area likely to experience crime with seasonal and teporal change

### Introduction

The dataset is provided by Chicago Data Portal, And Data is extracted from the Chicago Police Department's CLEAR system https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-Present/ijzp-q8t2/about_data. This dataset reflects reported incidents of crime that occured in the city of Chicago from 2001 to present. it records various types of crime with exception of murders. This project will analyze which areas in the city will have the most crime with different seasons and day time period. With briefly looking into the dataset,

In [1]:
import pandas as pd
import qeds
%matplotlib inline
 # activate plot theme
import qeds

from IPython.display import display

### Data Cleaning

In [2]:
url = "Crimes_-_2001_to_Present_20240130.csv"
df = pd.read_csv(url)
columns = ['Year'] + [col for col in df.columns if col != 'Year']
df = df[columns]

In [3]:
# checking the duplicated data in case some cases are reported multiple times.
df = df.drop_duplicates()

In [4]:
# First Checking which columns contain Nah value, in case deleting the rows which have nah value but contain other
# important stuff.

columns_with_nan = df.isna().any()
print(columns_with_nan)

Year                          False
ID                            False
Case Number                   False
Date                          False
Block                         False
IUCR                          False
Primary Type                  False
Description                   False
Location Description           True
Arrest                        False
Domestic                      False
Beat                          False
District                       True
Ward                           True
Community Area                 True
FBI Code                      False
X Coordinate                   True
Y Coordinate                   True
Updated On                    False
Latitude                       True
Longitude                      True
Location                       True
Historical Wards 2003-2015     True
Zip Codes                      True
Community Areas                True
Census Tracts                  True
Wards                          True
Boundaries - ZIP Codes         True
Police Districts               True
Police Beats                   True
dtype: bool

In [5]:
# Drop the Nah value from these rows which are useful to my research.
df = df.dropna(subset=['Latitude', 'Longitude'])

In [7]:
# Converting the original 'Date' into Datetime
df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y %I:%M:%S %p')
# Extracting month and time from Datetime, in order to better assist the further research
df['Month'] = df['Date'].dt.month
df['Time'] = df['Date'].dt.time
df[['Date', 'Month', 'Time']]
df.head()

,Year,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,Month,Time
11,2020,12045583,JD226426,2020-05-07 10:24:00,035XX S INDIANA AVE,0820,THEFT,$500 AND UNDER,APARTMENT,False,...,12.0,4301.0,1.0,446.0,9.0,36.0,24.0,101.0,5,10:24:00
12,2020,12031001,JD209965,2020-04-16 05:00:00,005XX W 32ND ST,0460,BATTERY,SIMPLE,APARTMENT,True,...,26.0,21194.0,58.0,223.0,48.0,40.0,23.0,170.0,4,05:00:00
13,2020,12093529,JD282112,2020-07-01 10:16:00,081XX S COLES AVE,051A,ASSAULT,AGGRAVATED - HANDGUN,STREET,True,...,43.0,21202.0,42.0,505.0,37.0,25.0,19.0,234.0,7,10:16:00
14,2020,12178140,JD381597,2020-09-27 23:29:00,065XX S WOLCOTT AVE,0460,BATTERY,SIMPLE,RESIDENCE - PORCH / HALLWAY,False,...,44.0,22257.0,65.0,281.0,3.0,23.0,17.0,205.0,9,23:29:00
15,2005,4144897,HL474854,2005-07-10 15:00:00,062XX S ABERDEEN ST,0430,BATTERY,AGGRAVATED: OTHER DANG WEAPON,STREET,False,...,19.0,21559.0,66.0,434.0,2.0,11.0,17.0,261.0,7,15:00:00

### Summary Statistics Tables

In [8]:
df.describe(include = "all")

/var/folders/7q/4cy2ncwn1tx6s2wxyng4_l1w0000gn/T/ipykernel_21551/426132078.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include = "all")

,Year,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Historical Wards 2003-2015,Zip Codes,Community Areas,Census Tracts,Wards,Boundaries - ZIP Codes,Police Districts,Police Beats,Month,Time
count,7.898640e+06,7.898640e+06,7898640,7898640,7898640,7898640,7898640,7898640,7890749,7898640,...,7.875087e+06,7.898640e+06,7.878278e+06,7.880311e+06,7.878399e+06,7.878331e+06,7.879458e+06,7.879484e+06,7.898640e+06,7898640
unique,NaN,NaN,7898083,3283123,61970,403,36,546,217,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85150
top,NaN,NaN,HZ140230,2007-01-01 00:01:00,100XX W OHARE ST,0820,THEFT,SIMPLE,STREET,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:00:00
freq,NaN,NaN,6,172,16295,639967,1666063,931528,2070806,5859186,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,182862
first,NaN,NaN,NaN,2001-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2024-01-22 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2.010268e+03,7.170816e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.742117e+01,1.908890e+04,3.868966e+01,3.810766e+02,2.559066e+01,3.153180e+01,1.491966e+01,1.502043e+02,6.564897e+00,NaN
std,6.505648e+00,3.584757e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.525245e+01,5.748504e+03,2.006934e+01,2.303197e+02,1.472498e+01,1.913400e+01,6.449355e+00,7.853059e+01,3.347816e+00,NaN
min,2.001000e+03,6.340000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000e+00,2.733000e+03,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN
25%,2.005000e+03,3.866876e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.400000e+01,2.118400e+04,2.500000e+01,1.760000e+02,1.200000e+01,1.500000e+01,1.000000e+01,8.300000e+01,4.000000e+00,NaN
50%,2.009000e+03,7.167930e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.700000e+01,2.156000e+04,3.700000e+01,3.780000e+02,2.600000e+01,3.000000e+01,1.600000e+01,1.530000e+02,7.000000e+00,NaN
75%,2.015000e+03,1.035540e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.100000e+01,2.221600e+04,5.700000e+01,5.770000e+02,3.700000e+01,5.000000e+01,2.000000e+01,2.210000e+02,9.000000e+00,NaN
max,2.024000e+03,1.335038e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.300000e+01,2.691200e+04,7.700000e+01,8.010000e+02,5.000000e+01,6.100000e+01,2.500000e+01,2.770000e+02,1.200000e+01,NaN